<?xml version="1.0" encoding="utf-8" ?>

<beans>
    <!--  目标类  -->
    <bean class="com.snail.springframework.convert.FieldConvertPO">
        <property name="name" value="FieldConvertPOName"></property>
        <property name="date" value="2000-10-10 10:10:10"></property>
    </bean>

    <bean id="converters" class="com.snail.springframework.convert.ConvertersFactoryBean"></bean>

    <bean class="com.snail.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" ref="converters"></property>
    </bean>
</beans>
