<?xml version="1.0" encoding="utf-8" ?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context">

    <!--  ↓↓ spring propertyPlaceholder 测试 ↓↓ -->
    <!--  配置属性表达式解析器  -->
    <bean class="com.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:spring-component-property.properties"></property>
    </bean>

    <!--  从xml加载bean实例  -->
    <bean id="rabbitComponent"
        class="com.springframework.beans.factory.bean.RabbitComponent">
        <property name="nameFromPropertyPlaceholder" value="${nameFromPropertyPlaceholder}"></property>
    </bean>

</beans>
